# Bootstrap
app/bootstrap*
app/config/parameters.yml

# Symfony directories
vendor/*
*/logs/*
*/cache/*
web/uploads/*
web/bundles/*

# Configuration files
app/config/parameters.ini

composer.lock
composer.phar
