<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
        {% stylesheets filter='?yui_css'
            '@MopaBootstrapBundle/Resources/bootstrap/docs/assets/css/bootstrap.css'
            'css/styles.css'
        %}
            <link href="{{ asset_url }}" type="text/css" rel="stylesheet" media="screen" />
        {% endstylesheets %}
    </head>
    <body>
        {% block body %}
            {% block head %}
                {% include "::header.html.twig" %}
            {% endblock %}
            <div class="container-fluid">
                {% block content %}{% endblock content %}
            </div>
        {% endblock %}
        {% block javascripts %}
        {% endblock %}
    </body>
</html>
