<a class="btn btn-primary" href="{{ path('timeline_demo_add_action', {'verb': 'jump', 'cod' : '', 'coi': ''}) }}">Jump</a><br />
<a class="btn btn-primary" href="{{ path('timeline_demo_add_action', {'verb': 'dance', 'cod' : 'nossa', 'coi': 'Michel Tello'}) }}">Dance on Nossa with Michel Tellò</a><br />
<a class="btn btn-primary" href="{{ path('timeline_demo_add_action', {'verb': 'sell', 'cod' : 'hamburger', 'coi': ''}) }}">Sell hamburger</a><br />
<a class="btn btn-primary" href="{{ path('timeline_demo_add_action', {'verb': 'sell', 'cod' : 'methamphetamine', 'coi': 'walter'}) }}">Sell methamphetamine to walter</a><br />

