<table class="table table-striped table-bordered">
    <thead>
        <tr>
            <th>Username</th>
            <th>Password</th>
            <th>Informations</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>chuck</td>
            <td>chuckpass</td>
            <td>Everybody see what Chuck does and Chuck see ALL!</td>
        </tr>
        <tr>
            <td>steven</td>
            <td>stevenpass</td>
            <td>Steven is alone ... (but chuck is stronger)</td>
        </tr>
        <tr>
            <td>vic</td>
            <td>vicpass</td>
            <td>Vic mac key is notified by walter white actions, because he sold methamphetamine !</td>
        </tr>
        <tr>
            <td>jack</td>
            <td>jackpass</td>
            <td>Jack bauer is notified by vic and walter actions.</td>
        </tr>
        <tr>
            <td>walter</td>
            <td>walterpass</td>
            <td>Walter has indics, he's notified about Jack and Vic</td>
        </tr>
    </tbody>
</table>

