{% extends "SpyDemoBundle::layout.html.twig" %}

{% block content %}
    <h1>Actions</h1>
    {% for action in wall %}
        {{ timeline_render(action) }}
    {% else %}
        There is no action for this user.
    {% endfor %}

    <h1>Users</h1>
    {% include "SpyDemoBundle:Default:context.html.twig" %}
{% endblock %}

{% set code = code(_self) %}
