{% extends '::base.html.twig' %}

{% block content %}
    <div class="row-fluid">
        <div class="span7 well">
            <h1>Context</h1>
            <p>There is 3 users on this application and 2 cars:</p>
            <table class="table table-striped">
                <thead>
                    <td>Name</td>
                    <td>Entity</td>
                    <td>Composite</td>
                </thead>
                <tbody>
                    <tr>
                        <td>User</td>
                        <td>Acme\DemoBundle\Entity\User</td>
                        <td><i class="icon-remove"></i></td>
                    </tr>
                    <tr>
                        <td>Car</td>
                        <td>Acme\DemoBundle\Entity\Car</td>
                        <td><i class="icon-ok"></i></td>
                    </tr>
                </tbody>
            </table>
            <div class="row-fluid">
                <div class="span3">
                    <p><strong>Verbs list</strong></p>
                    <ul>
                        <li>own</li>
                        <li>drive</li>
                        <li>kick</li>
                        <li>cook</li>
                    </ul>
                </div>
                <div class="span3">
                    <p><strong>Cars list</strong></p>
                    <ul>
                        <li>Alfa romeo 159</li>
                        <li>Bugatti Veyron</li>
                    </ul>
                </div>
            </div>

            <p><strong>Users list</strong></p>
            <div class="usersContext">
                <div class="user chuck">
                    <p class="ident">Chuck Norris</p>
                    <p><small>Chuck is own everybody, he's aware about ALL actions because he's ... chuck.</small></p>
                    <i class="icon-user"></i>Vic <i class="icon-ok"></i> |
                    <i class="icon-user"></i>Walter <i class="icon-ok"></i> |
                    Own <i class="icon-ok"></i> |
                    Drive <i class="icon-ok"></i> |
                    Kick <i class="icon-ok"></i> |
                    Cook <i class="icon-ok"></i>
                </div>
            </div>
            <div class="usersContext">
                <div class="user vic">
                    <p class="ident">Vic Mac Key</p>
                    <p><small>Vic loves kick guy who cook drugs !</small></p>
                    <i class="icon-user"></i>Chuck <i class="icon-remove"></i> |
                    <i class="icon-user"></i>Walter <i class="icon-ok"></i> |
                    Own <i class="icon-remove"></i> |
                    Drive <i class="icon-remove"></i> |
                    Kick <i class="icon-ok"></i> |
                    Cook <i class="icon-ok"></i>
                </div>
            </div>
            <div class="usersContext">
                <div class="user walter">
                    <p class="ident">Walter White</p>
                    <p><small>Walter cooks methamphetamine and loves driving cars. He's aware of police actions and “He's the one who knocks“</small></p>
                    <i class="icon-user"></i>Chuck <i class="icon-remove"></i> |
                    <i class="icon-user"></i>Vic <i class="icon-ok"></i> |
                    Own <i class="icon-remove"></i> |
                    Drive <i class="icon-ok"></i> |
                    Kick <i class="icon-remove"></i> |
                    Cook <i class="icon-ok"></i>
                </div>
            </div>
            <div style="clear: both"></div>
            <hr />
            {% include "AcmeDemoBundle:Default:form.html.twig" with {'form': form } %}
        </div>
        <div class="span5">
            {% render controller('AcmeDemoBundle:Default:timeline', {'subject': 'chuck'}) %}
            {% render controller('AcmeDemoBundle:Default:timeline', {'subject': 'vic'}) %}
            {% render controller('AcmeDemoBundle:Default:timeline', {'subject': 'walter'}) %}
        </div>
    </div>
{% endblock %}
