<div class="row-fluid">
    <div class="user {{ user.username }}">
        <p class="ident">{{ user }}'s timeline</p>
    </div>
    {% for action in timeline %}
        <div class="timeline-entry">
            {{ timeline_render(action) }}
        </div>
    {% else %}
        <p>There is no action</p>
    {% endfor %}
</div>
<hr />
